.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}

/* share style */
/* /* .btn-primary, .why_description */
.btn-primary, .why_title{ 
    padding: 17px;
    border-radius: 8px;
}
.center-text{
    text-align: center;
}

/* nav-bar sle */
.nav-head{
    display: flex;
    justify-content: space-between;
    margin: 0px 75px;
}
.banner-text, .main-text, .why_description{
    font-weight: 200;
}

.banner{
    background-image: url(../assets/Hero-bg.png);
    padding: 50px;
}
.banner-btn{
    background-color: black;
    padding: 21px;
    color: white;
    border-radius: 8px;
}
/* Main style */
.common-btn{
    padding: 17px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    border-color: black;
}
.why-section{
    margin-top: 70px;
}
.why-container{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin: 48px 300px 31px;
    text-align: center;
    /* box-shadow: 0px 6px 50px 0 red; */
}
.details{
    text-align: left;
    padding: 25px;


}
.target{
    margin-top: 100px;
}
.courses{
    display: flex;
    gap: 15px;
    margin: 55px 50px 30px;
}
.html{
    width: 25%;
    background-color:#f3dad4 ;
}
.css{
    width: 25%;
    background-color: #cddaf7;
}
.js{
    width: 25%;
    background-color: #f1eabf;
}
.info{
    margin: 25px;
    padding: 20px;
}
.ba{
    margin-left: 150px;
    margin-right: 150px;
}
.bg{
    background-image: url(../assets/handshake.jpg);

    padding-top: 150px;
    padding-bottom: 250px;
}
.txt{
    color: white;
    gap: 20px;
}
.btn-submit{
    border-radius: 8px;
    font-weight: 300;
    padding: 10px;
}
section input[type="text"]{
    height: 18px;
    border-radius: 5px;
    background-color: white;
    width: 20%;
    padding: 10px 10px;
    margin-bottom: 24px;
    border: none;
}
/* FOOTER style */
.footer{
    background-color: rgb(247, 245, 243);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
}
.icon{
    padding-right: 150px;
    margin-top: 15px;
}